html,
body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  background-color: #2d2b2d;
  color: white;
}

.listas {
    width: 80%;
    position: absolute;
    left:10%;
}


.listasContainer{
    display: flex;
}
.listas .list-group-item
{
    background-color: #6d666bb9;
    border: 3px solid #008fff;

}
.listas .list-group-item:hover
{
 background-color: #793ebdf3;
}

.listasPoint {
    margin-top: 10px;
    background-color: coral;
    
}
.Index_main
{
    width: 100%;
    

}
.form-control
{
  
    width: 320px;
    margin-left: 20px;
    margin-right: 20px;
 
}
form
{
   margin-top: 180px;

    
} 
.dropdown
{
    position: absolute;
    top:0; 
    right:0;
}
#SubButton
{ 
    text-align: center;
    height: 200px;
}

.figure
{
    margin-top: 15px;
}

.btn 
{
    background-color: #ef0cdf;
   
}

.filters 
{
    text-align: center;
    display: flex;
    justify-content: center;
}

.wrapinfo
{
    width:95%;
    height:95%;
    margin: auto;
}

.gamePhoto {
    float:right;
}
.info
{
    margin:10px;
}

.infotable 
{
    width:70%;
}

#footer {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    position:fixed;
    /* Height of the footer*/ 
    height: 40px;
    background: grey;
}

#nullgames {
    margin-top:20px;
    text-align: center;
}