
.Index_main
{
    width: 100%;
    

}
.form-control
{
    width: 320px;
    margin-left: 20px;
    margin-right: 20px;
    
 
}
form
{
    text-align: center;
    display: flex;
    justify-content: center;
} 