html,
body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

.listas {
    width: 80%;
    position: absolute;
    left:10%;
}

.listasContainer{
    position: relative;
}

.listasPoint {
    margin-top: 10px;
}
body {
  background-color: #2d2b2d;
  color: white;
}

.Index_main
{
    width: 100%;
    

}
.form-control
{
  
    width: 320px;
    margin-left: 20px;
    margin-right: 20px;
    
 
}
form
{
   margin-top: 180px;

    
} 
.dropdown
{
    position: absolute;
    top:0; 
    right:0;
}
#SubButton
{ 
    text-align: center;
    height: 200px;
}

.figure
{
    margin-top: 15px;
}

.btn 
{
    background-color: magenta;
}

.filters 
{
    text-align: center;
    display: flex;
    justify-content: center;
}

.wrapinfo
{
    width:95%;
    height:95%;
    margin: auto;
}

.gamePhoto {
    float:right;
}
.info
{
    margin:10px;
}

.infotable 
{
    width:70%;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: grey;
}