header{
    background-image: url("backgroundas.jpg");
    height:100vh;
    background-size:cover;
    background-position:center;
    
}
.lol{
    background-color:transparent;

}
.navbar-light .navbar-nav .nav-link{
    color:white;
    font-size:20px;
}
.navbar-light .navbar-brand{
    color:white;
}
.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:white;
}
.pavadinimas{
    margin-left: 500px;
    margin-top:80px;
    color:rgb(255, 255, 255);
    font-size:30px;
    font-weight:80px;
}
.parsisiusti{
    width:225px;
    display:inline-block;

    
}
.parsisiusti>img{
    width:100%;
}
.google{
    width: 250px; 
    display:inline-block; 
}
.google>img{
    width:100%;
}
.vilnius{
    padding-top: 50px;
    display: inline-block; 
    padding-bottom: 8px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
}
.asd{
    border:9px solid black;
    display:inline-block;
}
.viskas{
    padding-top: 100px;
    text-align: center; 
}
.tekstas{

}
.apieTaxi{
    text-align: center;
    margin: 0 auto;
    width: 638px;
}
.money{
    border-bottom: 2px solid black;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 50px;
}
.drive{
    text-align: center;
    margin: 0 auto;
    width: 638px;
}
