nav{
	background-color: #f78269;
}

header nav ul li{
	list-style: none;

}
header nav ul{
	float: right;
}
p {
    margin-top: 50px;
    padding-left: 20px;
    background-color: yellow;
    display: inline-block;
    border: 5px solid #ff00d7;
    padding-top: 15px;
    padding-right: 12px;
    padding-bottom: 5px;
    margin-left: 50px;
}