body {

/*background-image: url("../Nuotraukos/Bg2.jpg");*/
background-size: cover;
height: 100vh;
background-position: center;
margin: 0;
padding: 0;
font-size: 16px; 
box-sizing: border-box; 
font-family: Arial;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1199px){
    .container{
        width:100%; 

    }

}
/*HEADER CSS*/
header   {
background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Nuotraukos/Bg1_720.jpg);
/*linear-gradient(to right, #5f2c82, #49a09d ) */
height: 100vh;
background-position: center;
background-size: cover;
color: white; 
}
/*Navigation*/
nav {

    background-color: transparent;
    font-size: 25px;
    
}

.navigation {
    list-style: none;
    float: right;
    margin-top: 55px;

    
    
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    
    }

/*LIST*/

.navigation > li {
    display: inline-block;
    margin-right: 40px;
    float: left;
    background-color: transparent;
    padding: 15px 20px;



}

/*.navigation > li:hover {
    transform: scale(1.05);
    transition: 0.4s;

}*/
.navigation > li:nth-last-child(1){
margin: 0px;

}

.navigation > li > a {
    color: white;
    text-decoration: none;
    padding: 8px 0;


}

.navigation > li> a:hover {
         border-bottom-style: solid;
         border-color: orange;
         border-bottom-width: 5px;
        transition: 0.15s;

}
.HeadingContentDiv {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;

    


}

.HeadingContentDiv>h1 {
    font-size: 72px;
}

.buttons {
    display: inline block;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 60px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: #FFFFFF;
    

}

.buttons:hover {

    background-color: orange;
    transition: 0.4s;
    border-color: rgb(255, 255, 255);


}
/*MAIN CSS*/

.sectionAbout {
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.63);
}
.sectionAboutHeading {
    width: 40%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    


}
.fa-shopping-cart:before {

    font-size: 35px;

}
.fa-calendar:before {
    font-size: 35px;
}

.fa-clock-o:before {
    font-size:35px;
}
.fa-cutlery:before {

    font-size: 35px;
}

.sectionAboutContentDiv {
    display: inline-block;
    float: left;
    width: 250px;
    height: 250px;
    text-align: left;
    margin: 25px;



}
.sectionAboutContentDivText {
    font-size: 18px;


}

.imglogo {
    width: 150px;
    margin-top: 15px;
}

.sectionimage {
    



}

.images {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.liimages {
    width: 25%;
    float: left;
    background-color: black;
    overflow: hidden;
    height:235px;  
}

.img {
    width : 100%;
    opacity: .5;

}


.img:hover {
    transform: scale(1.2);
    transition: 0.4s;


}

.appheader {

    width: 40%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.63);
    padding: 0;
    margin-bottom: 50px;


}

.appheader:after    {

    content: "";
    display: inline-block;
    border-bottom: 1px solid orange;
    width: 150px;

}

.applist {

    list-style: none;
    font-size: 20px;
    padding: 0;
    width: 40%;
    float: left;
    margin-left: 100px;
    color: rgba(0, 0, 0, 0.63);
    margin-top: 50px;

}

.phonediv {
    margin-left: 240px;
    display: inline-block;
    float: left;
    width:20%
}

.phoneimg {

    width: 100%;
}

.applinks {

    float:left;
}

.applinksli {
    float: left;
    list-style: none;
    margin-left: 55px;
}

.downloadimggoogle {

    width: 115px;
    height: 40px;
}

.divnumb {
    float: left;
    font-size: 35px;
    margin-right:20px;
    border-style: solid;
    border-radius: 50%;
	width: 40px;
    height: 40px; 
    text-align: center;
    border-color: orange;
    color: orange;
}

.hr {
    width:150px;
    background-color: orange;
    height: 3px;
}

.appdiv {
    margin-top: 850px;
}


.customerdiv {
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../Nuotraukos/back-customers.jpg);
    background-size: cover;
    margin: 0 auto;
    padding-top: 25px;
    color: white;
    margin-top: 25px;
}

.reviewdiv {
    width:25%;
    float: left;
    text-align: left;
    margin: 25px;
    display: inline-block;
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px;
}

.customerheader {
    width: 40%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    color: white;
    padding: 0;
    margin-bottom: 25px;
}
.customerheader:after {

    content: "";
    display: inline-block;
    border-bottom: 1px solid orange;
    width: 150px;

}

.roundimg {

    width:25px;
    height:25px;
    border-radius:50%;
    overflow:hidden;
    display: inline-block;
}

.customer {
    margin-bottom: 25px;

}

.fullimg {
    width: 100%;

}

.fa-quote-left {
    font-size: 30px;

}

.imgsize {
    width:100%;
    margin-bottom: 10px;
}

.placelist {
    list-style: none;
    margin-left: -40px;
    margin-top: 10px;
}

.liplacelist {
    margin: 5px;

}

.liplacelist:before {

    color: orange;
    margin-right:20px;
}
.placesection {
    color: rgba(0, 0, 0, 0.63);

}

.placediv {
    font-size: 20px;
}

.placeheader {
    margin-top: 60px;
    margin-bottom: 5px;
}

.twitterlink {
    color: orange;  
}

.headerdiv {
    margin: 0;
    padding: 0;
    float: left;
    color: orange;
    font-size: 40px;
}

.headerdiv2 {

    margin:0;
    padding-top: 20px;
    color: orange;
}

.pardiv {

    font-size: 12px;
}

.listdiv {

    padding: 5px;
    padding-top: 5px;
    display: block;
    
}


.lilistdiv {
    margin-bottom:15px;
    list-style: none;
    display: block; 
}

.lilistdiv:before{
    color: orange;
    margin-right:20px;
}

.signbutton {

    border-style: solid;
    border-width: 2px;
    border-color: orange;
    border-radius: 60px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: orange;
    width: 40%;
    text-align: center;
    margin-left:40px;
}

.signbutton:hover {

    background-color: orange;
    transition: 0.4s;
    border-color: orange;
    color: white;


}

.pricelink:hover {

    color: white;
}

.pardiv2 {
    width: 250px;
    height:14px;
}

.pricediv {

width: 25%;
margin: 50px;
margin-top: 25px;
margin-left: 50px;
font-size: 20px;
}


.priceheader {

    padding-top: 70px;
    margin-bottom: 0;
}

.pricelink {

    text-decoration: none;
    color: orange;
}

.feedbackheader {

    padding-top: 130px;
}

footer {

    background-color: #333;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 60px;
    font-size: 17px;
    height: 50px;
}

.footerlist1 {

    list-style: none;
    display: inline-block;
    float: left;
    padding: 0;
}

.footerlist1li {
    display: inline-block;
    margin-right: 40px;
    float: left;


}

.list1link:hover {

    color: white;
    transition: 0.4s;
}

.footerlist2 {

    list-style: none;
    display: inline-block;
    float: right;
    padding: 0px;

}

.footerlist2li {

    float: left;
    font-size: 25px;
    margin-left: 30px;
}

.copyrightdiv {

    text-align: center; 
    color: #686868;
    margin-top: 25px;
}

.row {

    max-width: 1140px;
    margin: 0 auto;
    display: block;

}

.footerlink {

    text-decoration: none;
    color: #686868;
}

.facebook:hover {

    color: #0000A9;
    transition: 0.4s;
}

.twitter:hover {

    color: #05A4F7;
    transition: 0.4s;
}

.google:hover {
    color: #FF4444;
    transition: 0.4s;
}

.instagram:hover {

    color:#2D28A5;
    transition: 0.4s;
}

.form {

    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    margin-left: 350px;
    margin-bottom: 100px;
}

.formdiv1 {
    width: 32.26%;

}

.formdiv2 {

    width: 66.13%;
}

.col {

    display: block;
    float: left;
    margin-bottom: 15px;
    
}

#name {

    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
    width: 55%;
}

#email {

    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
    width: 55%;

}

#find {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
    width: 55%;

}

#news {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;



}

#area {

    height: 120px;
    width: 70%;
    font-size: 20px;
    margin-bottom: 30px;
}

input[type="checkbox"] {
    margin: 10px 5px 10px 0px;
    box-sizing: border-box;
    padding: 0px;
}

input {
    line-height: normal;
}

.sendit {


}


.sentitlink {

    border-style: solid;
    border-width: 2px;
    border-color: orange;
    border-radius: 60px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: orange;
    width: 30%;
    text-align: center;
    margin-left:235px;
    height: 30px;
}

.sentitlink:hover {
background-color: orange;
transition: 0.4s;
border-color: orange;
color: white;
}

#map {

    height: 500px;
    border: solid;
    border-color: solid;
    border-width: 4px;
    border-color: orange;

    
}


.map {
    width: 80%;
    padding: 0;
    margin: 0 auto;

}

.map1 {
    border: solid;
    border-color: solid;
    border-width: 4px;
    border-color: orange;
    margin-bottom: 0px;
    margin-top: 150px;
    padding: 30px;

}

.fixed {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef ;
    z-index: 9999;
    display: inline-block;
}
.fixed .navigation li a {
    color: orange;


}


.js.section {


}

.flexcontainer {
    display: flex;
    



}

.classitem {

    flex-grow: 1;
    flex-basis: auto;

}